extends layout/abc.pug
include mixins/box-head.pug 

block main 
  //- img(src="/img/ptit.jpg", alt="")
  //- h1= message
  //- button(class="btn btn-success") click Me!
  +box-head("trang chủ" , "Đây là thông tin mô tả trang chủ")